## Load the CSV file into a DataFrame:

In [1]:
import pandas as pd
data=pd.read_csv("test.csv")

In [2]:
data

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [3]:
print("First few rows of the DataFrame:")
print(data.head())

First few rows of the DataFrame:
  Country/Region  Confirmed  Deaths  Recovered  Active  New cases  New deaths  \
0    Afghanistan      36263    1269      25198    9796        106          10
1        Albania       4880     144       2745    1991        117           6
2        Algeria      27973    1163      18837    7973        616           8
3        Andorra        907      52        803      52         10           0
4         Angola        950      41        242     667         18           1

   New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
0             18                3.50                  69.49
1             63                2.95                  56.25
2            749                4.16                  67.34
3              0                5.73                  88.53
4              0                4.32                  25.47

   Deaths / 100 Recovered  Confirmed last week  1 week change  \
0                    5.04                35526            737
1                    5.25                 4171            709
2                    6.17                23691           4282
3                    6.48                  884             23
4                   16.94                  749            201

   1 week % increase             WHO Region
0               2.07  Eastern Mediterranean
1              17.00                 Europe
2              18.07                 Africa
3               2.60                 Europe
4              26.84                 Africa

## Handle missing values

In [4]:
data.fillna(data.mean(), inplace=True)

# Display DataFrame info to see missing values handled
print("\nDataFrame info after handling missing values:")
print(data.info())

DataFrame info after handling missing values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB
None

C:\Users\ramin\AppData\Local\Temp\ipykernel_22704\4011354904.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.fillna(data.mean(), inplace=True)

## Calculate summary statistics

In [5]:
summary_statistics = data.describe()
print("\nSummary Statistics:")
print(summary_statistics)

# Additional summary statistics
mean_values = data.mean()
median_values = data.median()
std_dev_values = data.std()

print("\nMean Values:")
print(mean_values)
print("\nMedian Values:")
print(median_values)
print("\nStandard Deviation Values:")
print(std_dev_values)

Summary Statistics:
          Confirmed         Deaths     Recovered        Active     New cases  \
count  1.870000e+02     187.000000  1.870000e+02  1.870000e+02    187.000000
mean   8.813094e+04    3497.518717  5.063148e+04  3.400194e+04   1222.957219
std    3.833187e+05   14100.002482  1.901882e+05  2.133262e+05   5710.374790
min    1.000000e+01       0.000000  0.000000e+00  0.000000e+00      0.000000
25%    1.114000e+03      18.500000  6.265000e+02  1.415000e+02      4.000000
50%    5.059000e+03     108.000000  2.815000e+03  1.600000e+03     49.000000
75%    4.046050e+04     734.000000  2.260600e+04  9.149000e+03    419.500000
max    4.290259e+06  148011.000000  1.846641e+06  2.816444e+06  56336.000000

        New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
count   187.000000     187.000000          187.000000             187.000000
mean     28.957219     933.812834            3.019519              64.820535
std     120.037173    4197.719635            3.454302              26.287694
min       0.000000       0.000000            0.000000               0.000000
25%       0.000000       0.000000            0.945000              48.770000
50%       1.000000      22.000000            2.150000              71.320000
75%       6.000000     221.000000            3.875000              86.885000
max    1076.000000   33728.000000           28.560000             100.000000

       Deaths / 100 Recovered  Confirmed last week  1 week change  \
count                  187.00         1.870000e+02     187.000000
mean                      inf         7.868248e+04    9448.459893
std                       NaN         3.382737e+05   47491.127684
min                      0.00         1.000000e+01     -47.000000
25%                      1.45         1.051500e+03      49.000000
50%                      3.62         5.020000e+03     432.000000
75%                      6.44         3.708050e+04    3172.000000
max                       inf         3.834677e+06  455582.000000

       1 week % increase
count         187.000000
mean           13.606203
std            24.509838
min            -3.840000
25%             2.775000
50%             6.890000
75%            16.855000
max           226.320000

Mean Values:
Confirmed                 8.813094e+04
Deaths                    3.497519e+03
Recovered                 5.063148e+04
Active                    3.400194e+04
New cases                 1.222957e+03
New deaths                2.895722e+01
New recovered             9.338128e+02
Deaths / 100 Cases        3.019519e+00
Recovered / 100 Cases     6.482053e+01
Deaths / 100 Recovered             inf
Confirmed last week       7.868248e+04
1 week change             9.448460e+03
1 week % increase         1.360620e+01
dtype: float64

Median Values:
Confirmed                 5059.00
Deaths                     108.00
Recovered                 2815.00
Active                    1600.00
New cases                   49.00
New deaths                   1.00
New recovered               22.00
Deaths / 100 Cases           2.15
Recovered / 100 Cases       71.32
Deaths / 100 Recovered       3.62
Confirmed last week       5020.00
1 week change              432.00
1 week % increase            6.89
dtype: float64

Standard Deviation Values:
Confirmed                 383318.663831
Deaths                     14100.002482
Recovered                 190188.189643
Active                    213326.173371
New cases                   5710.374790
New deaths                   120.037173
New recovered               4197.719635
Deaths / 100 Cases             3.454302
Recovered / 100 Cases         26.287694
Deaths / 100 Recovered              NaN
Confirmed last week       338273.676567
1 week change              47491.127684
1 week % increase             24.509838
dtype: float64

C:\Users\ramin\AppData\Local\Temp\ipykernel_22704\1791885095.py:6: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_values = data.mean()
C:\Users\ramin\AppData\Local\Temp\ipykernel_22704\1791885095.py:7: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  median_values = data.median()
C:\Users\ramin\AppData\Local\Temp\ipykernel_22704\1791885095.py:8: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  std_dev_values = data.std()

## Filter data based on conditions

In [8]:
filtered_data = data[data['Active'] > 100000]
filtered_data_multiple_conditions = data[(data['Active'] > 100000) & (data['Deaths'] < 1000)]

print("\nFiltered Data (Single Condition):")
print(filtered_data)

print("\nFiltered Data (Multiple Conditions):")
print(filtered_data_multiple_conditions)

Filtered Data (Single Condition):
     Country/Region  Confirmed  Deaths  Recovered   Active  New cases  \
23           Brazil    2442375   87618    1846641   508116      23284
32           Canada     116458    8944          0   107514        682
37         Colombia     257101    8777     131161   117163      16306
61           France     220352   30212      81212   108928       2551
79            India    1480073   33408     951166   495499      44457
138          Russia     816680   13334     602249   201097       5607
154    South Africa     452529    7067     274925   170537       7096
173              US    4290259  148011    1325804  2816444      56336
177  United Kingdom     301708   45844       1437   254427        688

     New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
23          614          33728                3.59                  75.61
32           11              0                7.68                   0.00
37          508          11494                3.41                  51.02
61           17            267               13.71                  36.86
79          637          33598                2.26                  64.26
138          85           3077                1.63                  73.74
154         298           9848                1.56                  60.75
173        1076          27941                3.45                  30.90
177           7              3               15.19                   0.48

     Deaths / 100 Recovered  Confirmed last week  1 week change  \
23                     4.74              2118646         323729
32                      inf               112925           3533
37                     6.69               204005          53096
61                    37.20               214023           6329
79                     3.51              1155338         324735
138                    2.21               776212          40468
154                    2.57               373628          78901
173                   11.16              3834677         455582
177                 3190.26               296944           4764

     1 week % increase       WHO Region
23               15.28         Americas
32                3.13         Americas
37               26.03         Americas
61                2.96           Europe
79               28.11  South-East Asia
138               5.21           Europe
154              21.12           Africa
173              11.88         Americas
177               1.60           Europe

Filtered Data (Multiple Conditions):
Empty DataFrame
Columns: [Country/Region, Confirmed, Deaths, Recovered, Active, New cases, New deaths, New recovered, Deaths / 100 Cases, Recovered / 100 Cases, Deaths / 100 Recovered, Confirmed last week, 1 week change, 1 week % increase, WHO Region]
Index: []